.flows.json.backup
[{"id":"6078ff93.98bec","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9a183b1b.c3e738","type":"function","z":"6078ff93.98bec","name":"Random Value","func":"\n  min = Math.ceil(0);\n  max = Math.floor(99);\nconst val = Math.floor(Math.random() * (max - min + 1)) + min;\n\n msg.payload = {\n     'deviceId':msg.payload,\n     'value': val\n }\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":160,"wires":[["858fb037.fec52"]]},{"id":"858fb037.fec52","type":"http request","z":"6078ff93.98bec","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://localhost:5000/api/sensors","tls":"","proxy":"","authType":"","x":1010,"y":160,"wires":[["b9984a1c.778eb8"]]},{"id":"b9984a1c.778eb8","type":"debug","z":"6078ff93.98bec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":160,"wires":[]},{"id":"cd8f0e86.902af","type":"function","z":"6078ff93.98bec","name":"DeviceId: Incompleted Gauge","func":"\nmsg.payload = '628bace6f25d2cb995ae58b6'\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":160,"wires":[["9a183b1b.c3e738"]]},{"id":"5c45141d.73ee4c","type":"function","z":"6078ff93.98bec","name":"DeviceId : Completed Gauge","func":"\n msg.payload = '628bab67f25d2cb995ae58a9'\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":220,"wires":[["bfaf3129.119df"]]},{"id":"62fbe346.1b309c","type":"function","z":"6078ff93.98bec","name":"DeviceId : Simple Line","func":"\n msg.payload = '628baae7f25d2cb995ae589f'\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":340,"wires":[["9b4fe562.bba478"]]},{"id":"33469c1c.bda164","type":"function","z":"6078ff93.98bec","name":"DeviceId : Bezier Line ","func":"\n msg.payload = '628baa5ef25d2cb995ae5895'\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":280,"wires":[["ee97178e.5589c8"]]},{"id":"e8660573.ce3fe8","type":"function","z":"6078ff93.98bec","name":"DeviceId : Progress Ring","func":"\n msg.payload = '628bae13f25d2cb995ae58c3'\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":400,"wires":[["b2faf66f.4d99a8"]]},{"id":"86018bf1.1b5ac8","type":"debug","z":"6078ff93.98bec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1230,"y":220,"wires":[]},{"id":"bfaf3129.119df","type":"function","z":"6078ff93.98bec","name":"Random Value","func":"\n  min = Math.ceil(0);\n  max = Math.floor(99);\nconst val = Math.floor(Math.random() * (max - min + 1)) + min;\n\n msg.payload = {\n     'deviceId':msg.payload,\n     'value': val\n }\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":220,"wires":[["8d7e5ced.a820b"]]},{"id":"9b4fe562.bba478","type":"function","z":"6078ff93.98bec","name":"Random Value","func":"\n  min = Math.ceil(0);\n  max = Math.floor(999);\nconst val = Math.floor(Math.random() * (max - min + 1)) + min;\n\n msg.payload = {\n     'deviceId':msg.payload,\n     'value': val\n }\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":340,"wires":[["13ed6edf.16ebe1"]]},{"id":"b2faf66f.4d99a8","type":"function","z":"6078ff93.98bec","name":"Random Value","func":"\nconst val = Math.random().toFixed(1);\n\n msg.payload = {\n     'deviceId':msg.payload,\n     'value': val\n }\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":400,"wires":[["3c824386.72f9bc"]]},{"id":"ee97178e.5589c8","type":"function","z":"6078ff93.98bec","name":"Random Value","func":"\n  min = Math.ceil(0);\n  max = Math.floor(999);\nconst val = Math.floor(Math.random() * (max - min + 1)) + min;\n\n msg.payload = {\n     'deviceId':msg.payload,\n     'value': val\n }\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":280,"wires":[["a32bd949.9f2318"]]},{"id":"43770c3e.f21094","type":"debug","z":"6078ff93.98bec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":280,"wires":[]},{"id":"491eb53.deba14c","type":"debug","z":"6078ff93.98bec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":340,"wires":[]},{"id":"87b23b81.224bf8","type":"debug","z":"6078ff93.98bec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":400,"wires":[]},{"id":"95c8b456.198fa8","type":"inject","z":"6078ff93.98bec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":160,"wires":[["cd8f0e86.902af"]]},{"id":"8d7e5ced.a820b","type":"http request","z":"6078ff93.98bec","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://localhost:5000/api/sensors","tls":"","proxy":"","authType":"","x":1010,"y":220,"wires":[["86018bf1.1b5ac8"]]},{"id":"a32bd949.9f2318","type":"http request","z":"6078ff93.98bec","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://localhost:5000/api/sensors","tls":"","proxy":"","authType":"","x":1010,"y":280,"wires":[["43770c3e.f21094"]]},{"id":"13ed6edf.16ebe1","type":"http request","z":"6078ff93.98bec","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://localhost:5000/api/sensors","tls":"","proxy":"","authType":"","x":1010,"y":340,"wires":[["491eb53.deba14c"]]},{"id":"3c824386.72f9bc","type":"http request","z":"6078ff93.98bec","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://localhost:5000/api/sensors","tls":"","proxy":"","authType":"","x":1010,"y":400,"wires":[["87b23b81.224bf8"]]},{"id":"41362edb.51d61","type":"function","z":"6078ff93.98bec","name":"DeviceId : Pie","func":"\n msg.payload = '628baf2ef25d2cb995ae58d1'\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":460,"wires":[["3785215f.3b38de"]]},{"id":"3785215f.3b38de","type":"function","z":"6078ff93.98bec","name":"Random Value","func":"\n  min = Math.ceil(0);\n  max = Math.floor(999999);\nconst val = Math.floor(Math.random() * (max - min + 1)) + min;\n\n msg.payload = {\n     'deviceId':msg.payload,\n     'value': val\n }\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":460,"wires":[["561c0f0d.7e499"]]},{"id":"561c0f0d.7e499","type":"http request","z":"6078ff93.98bec","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://localhost:5000/api/sensors","tls":"","proxy":"","authType":"","x":1010,"y":460,"wires":[["1804c5a6.e854ba"]]},{"id":"1804c5a6.e854ba","type":"debug","z":"6078ff93.98bec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":460,"wires":[]},{"id":"594c7c47.c9ae84","type":"function","z":"6078ff93.98bec","name":"DeviceId : StackedBar","func":"\n msg.payload = '628bb22af25d2cb995ae58e4'\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":520,"wires":[["b3d9827e.b83bc"]]},{"id":"b3d9827e.b83bc","type":"function","z":"6078ff93.98bec","name":"Random Value","func":"\n  min = Math.ceil(0);\n  max = Math.floor(999);\nconst val = Math.floor(Math.random() * (max - min + 1)) + min;\n\n msg.payload = {\n     'deviceId':msg.payload,\n     \"numberStackedValues\": 3,\n     'value': val\n }\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":520,"wires":[["62f016da.d70cf8"]]},{"id":"62f016da.d70cf8","type":"http request","z":"6078ff93.98bec","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://localhost:5000/api/sensors","tls":"","proxy":"","authType":"","x":1010,"y":520,"wires":[["a3fe5fc7.7abc2"]]},{"id":"a3fe5fc7.7abc2","type":"debug","z":"6078ff93.98bec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":520,"wires":[]},{"id":"a25c68a5.3333d8","type":"function","z":"6078ff93.98bec","name":"DeviceId : Simple Bar ","func":"\n msg.payload = '628bb28ef25d2cb995ae58ef'\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":580,"wires":[["44c90aaf.442214"]]},{"id":"44c90aaf.442214","type":"function","z":"6078ff93.98bec","name":"Random Value","func":"\n  min = Math.ceil(0);\n  max = Math.floor(999);\nconst val = Math.floor(Math.random() * (max - min + 1)) + min;\n\n msg.payload = {\n     'deviceId':msg.payload,\n     'value': val\n }\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":580,"wires":[["8c4a9902.80a748"]]},{"id":"8c4a9902.80a748","type":"http request","z":"6078ff93.98bec","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://localhost:5000/api/sensors","tls":"","proxy":"","authType":"","x":1010,"y":580,"wires":[["44de7311.c2c04c"]]},{"id":"44de7311.c2c04c","type":"debug","z":"6078ff93.98bec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":580,"wires":[]},{"id":"ea76aad0.768718","type":"inject","z":"6078ff93.98bec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":760,"wires":[["c8e7895d.1e93f8","1fa9aed4.505f41"]]},{"id":"c8e7895d.1e93f8","type":"function","z":"6078ff93.98bec","name":"DeviceId : Simple Data","func":"\n msg.payload = '628ba48b4ff4a7c414efa8c1'\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":700,"wires":[["98b83d74.b966c"]]},{"id":"98b83d74.b966c","type":"function","z":"6078ff93.98bec","name":"Random Value","func":"\n  min = Math.ceil(0);\n  max = Math.floor(999);\nconst val = Math.floor(Math.random() * (max - min + 1)) + min;\n\n msg.payload = {\n     'deviceId':msg.payload,\n     'value': val\n }\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":700,"wires":[["9ef7e19d.b2039"]]},{"id":"9ef7e19d.b2039","type":"http request","z":"6078ff93.98bec","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://localhost:5000/api/sensors","tls":"","proxy":"","authType":"","x":950,"y":700,"wires":[["de17ebb0.d250c8"]]},{"id":"de17ebb0.d250c8","type":"debug","z":"6078ff93.98bec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":700,"wires":[]},{"id":"1fa9aed4.505f41","type":"function","z":"6078ff93.98bec","name":"DeviceId : Simple Data 2","func":"\n msg.payload = '628ba9ecf25d2cb995ae5886'\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":800,"wires":[["55cd8209.ff69bc"]]},{"id":"55cd8209.ff69bc","type":"function","z":"6078ff93.98bec","name":"Random Value","func":"\n  min = Math.ceil(0);\n  max = Math.floor(999);\nconst val = Math.floor(Math.random() * (max - min + 1)) + min;\n\n msg.payload = {\n     'deviceId':msg.payload,\n     'value': val\n }\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":800,"wires":[["d17c1936.5ea578"]]},{"id":"d17c1936.5ea578","type":"http request","z":"6078ff93.98bec","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://localhost:5000/api/sensors","tls":"","proxy":"","authType":"","x":950,"y":800,"wires":[["71d505eb.57e46c"]]},{"id":"71d505eb.57e46c","type":"debug","z":"6078ff93.98bec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":800,"wires":[]},{"id":"ad3ccfa4.ef829","type":"inject","z":"6078ff93.98bec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":980,"wires":[["6f7d8073.6f40e","3f8c7072.f8e1a","bda4571b.d27418"]]},{"id":"6f7d8073.6f40e","type":"function","z":"6078ff93.98bec","name":"DeviceId : Icon ","func":"\n msg.payload = '628bb3c2f25d2cb995ae58fc'\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":920,"wires":[["50922526.55856c"]]},{"id":"50922526.55856c","type":"function","z":"6078ff93.98bec","name":"Random Value","func":"\n  min = Math.ceil(0);\n  max = Math.floor(999);\nconst val = Math.floor(Math.random() * (max - min + 1)) + min;\n\n msg.payload = {\n     'deviceId':msg.payload,\n     'value': val\n }\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":920,"wires":[["d9a587cc.bad568"]]},{"id":"d9a587cc.bad568","type":"http request","z":"6078ff93.98bec","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://localhost:5000/api/sensors","tls":"","proxy":"","authType":"","x":950,"y":920,"wires":[["b771e1f4.b56b7"]]},{"id":"b771e1f4.b56b7","type":"debug","z":"6078ff93.98bec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":920,"wires":[]},{"id":"3f8c7072.f8e1a","type":"function","z":"6078ff93.98bec","name":"DeviceId : Icon 2","func":"\n msg.payload = '628bb51cf25d2cb995ae590f'\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1020,"wires":[["15707816.6bd718"]]},{"id":"15707816.6bd718","type":"function","z":"6078ff93.98bec","name":"Random Value","func":"\n  min = Math.ceil(0);\n  max = Math.floor(999);\nconst val = Math.floor(Math.random() * (max - min + 1)) + min;\n\n msg.payload = {\n     'deviceId':msg.payload,\n     'value': val\n }\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":1020,"wires":[["d8cfc1e4.8eea3"]]},{"id":"d8cfc1e4.8eea3","type":"http request","z":"6078ff93.98bec","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://localhost:5000/api/sensors","tls":"","proxy":"","authType":"","x":970,"y":1020,"wires":[["c0c11e1b.3cc0e"]]},{"id":"c0c11e1b.3cc0e","type":"debug","z":"6078ff93.98bec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":1020,"wires":[]},{"id":"bda4571b.d27418","type":"function","z":"6078ff93.98bec","name":"DeviceId : Icon 3","func":"\n msg.payload = '628bb592f25d2cb995ae5919'\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1100,"wires":[["410cdb51.b5cdb4"]]},{"id":"410cdb51.b5cdb4","type":"function","z":"6078ff93.98bec","name":"Random Value","func":"\n  min = Math.ceil(0);\n  max = Math.floor(999);\nconst val = Math.floor(Math.random() * (max - min + 1)) + min;\n\n msg.payload = {\n     'deviceId':msg.payload,\n     'value': val\n }\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":1100,"wires":[["1daa8bc2.e74904"]]},{"id":"1daa8bc2.e74904","type":"http request","z":"6078ff93.98bec","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://localhost:5000/api/sensors","tls":"","proxy":"","authType":"","x":970,"y":1100,"wires":[["16218a95.f9c715"]]},{"id":"16218a95.f9c715","type":"debug","z":"6078ff93.98bec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":1100,"wires":[]},{"id":"ba5866fc.de7eb8","type":"inject","z":"6078ff93.98bec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":220,"wires":[["5c45141d.73ee4c"]]},{"id":"b8835ff7.8c3e6","type":"inject","z":"6078ff93.98bec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":340,"wires":[["62fbe346.1b309c"]]},{"id":"6f470adb.c91e14","type":"inject","z":"6078ff93.98bec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":280,"wires":[["33469c1c.bda164"]]},{"id":"9e4b7893.804108","type":"inject","z":"6078ff93.98bec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":520,"wires":[["594c7c47.c9ae84"]]},{"id":"50372b43.260c24","type":"inject","z":"6078ff93.98bec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":580,"wires":[["a25c68a5.3333d8"]]},{"id":"9ebe08a1.e5baa8","type":"inject","z":"6078ff93.98bec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":460,"wires":[["41362edb.51d61"]]},{"id":"e38ff85a.29e9b8","type":"inject","z":"6078ff93.98bec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":400,"wires":[["e8660573.ce3fe8"]]}]